In [1]:
import pandas as pd
import re

telefonos = input("Inserte nombre de columna con los numeros de celular a convertir: ")
print("Cargando...")
df = pd.read_excel("./Archivos Excel/Nombre del excel.xlsx")
df.applymap(str)

Cargando...

,dni,apellido,nombre,fecha_nacimiento,origen,sincronizacion,celular,localidad,barrio,calle,alta,id
0,36073038,MARCHISIO,LUCAS ANDRES,1991-01-01,accionsocial.persona,2022-07-24 21:50:36,023015123456,PILAR,PILAR CENTRO,DR. PENNA 123,2020-08-05,1
1,23892377,QUIROZ,MARIA ROSA,0000-00-00,accionsocial.persona,2022-07-24 21:50:36,5491168524620,VILLA ROSA,LA LATA,I. BAZ 1804,2020-08-11,2
2,11760507,CAMARA,MIRTA TERESA,1954-09-15,accionsocial.persona,2022-07-24 21:50:36,5491122994777,PILAR,VILLA MORRA II,JUAN B. JUSTO 894,2020-08-11,3
3,36885261,JUAREZ,NADIA BELEN,1992-05-08,accionsocial.persona,2022-07-24 21:50:36,5491150001095,LAGOMARSINO,SALAS,CALLE MOYANO 3248,2020-08-11,4
4,14429568,MAYDANA,JORGE ORLANDO,1961-06-28,accionsocial.persona,2022-07-24 21:50:36,5491130727842,VILLA ROSA,LUCHETTI,SANCHEZ DE BUSTAMANTE 340,2020-08-11,5
...,...,...,...,...,...,...,...,...,...,...,...,...
565891,38914945,nan,nan,nan,midocumentacion.datos2,2022-07-27 08:48:34,1123314434,CHAMPAGNAT,EL CHAMPAGNAT,maipu 1541,2022-07-26,565892
565892,38914945,nan,nan,nan,midocumentacion.datos2,2022-07-27 08:48:34,1123314434,FATIMA,PARQUE HERMOSO,maipu 1541,2022-07-26,565893
565893,38914945,nan,nan,nan,midocumentacion.datos2,2022-07-27 08:48:34,1123314434,LUIS LAGOMARSINO,GUEMES - LUIS LAGOMARSINO,maipu 1541,2022-07-26,565894
565894,94301774,nan,nan,nan,midocumentacion.datos2,2022-07-27 08:48:34,1132743209,LA LONJA,LOS TILOS,Los arrayanes 4055,2022-07-26,565895
565895,94301618,nan,nan,nan,midocumentacion.datos2,2022-07-27 08:48:34,1158637835,LA LONJA,LOS TILOS,Pedro pico 1770,2022-07-26,565896

In [2]:
def validar_telefono(telefono_celular):

    tel_limpio = re.sub(r"[^0-9]","",str(telefono_celular))

    if len(tel_limpio) < 10 :
         return ""
    
    if len(tel_limpio) > 13 :
        tel_limpio = tel_limpio[-10:]

    if len(tel_limpio) == 13:
        tel_limpio = tel_limpio[3:]

    if len(tel_limpio) == 12:
        tel_limpio = tel_limpio[2:]
    
    if len(tel_limpio) == 11:
        tel_limpio = tel_limpio[1:]

    iguales = 0

    for i in range(len(tel_limpio)-1):
        if tel_limpio[i] == tel_limpio[i+1]:
            iguales += 1
    if iguales > 4:
        return ""

    return tel_limpio

In [3]:
def eliminar_vacios(numero):
    if numero == '54' or numero == '549':
        return ""
    else:
        return numero

In [4]:
df["Numero sin 54 ni 9"] = df[telefonos].apply(validar_telefono) # OJO ACA MODIFICAR
df["Numero con 54"] = '54' +  df["Numero sin 54 ni 9"]
df["Numero con 54 9"] = '549' +  df["Numero sin 54 ni 9"]
df["Numero con 54"] = df["Numero con 54"].apply(eliminar_vacios)
df["Numero con 54 9"] = df["Numero con 54 9"].apply(eliminar_vacios)
df.to_excel('TRANSFORMADO.xlsx')