In [65]:
import pandas as pd
import re

telefonos = input("Inserte nombre de columna con los numeros de celular a convertir: ")
print("Cargando...")
df = pd.read_excel("mi pieza - normalizar.xlsx")
df.applymap(str)

Cargando...

          Telefonos
0        1121614420
1        1121634883
2        1121656551
3        1121863666
4        1121883845
...             ...
1443  5491167569991
1444  5491166462247
1445  5491132007462
1446  5491125574220
1447  5491125493295

[1448 rows x 1 columns]

In [66]:
def validar_telefono(telefono_celular):

    tel_limpio = re.sub(r"[^0-9]","",str(telefono_celular))

    if len(tel_limpio) < 10 :
         return ""
    
    if len(tel_limpio) > 13 :
        tel_limpio = tel_limpio[-10:]

    if len(tel_limpio) == 13:
        tel_limpio = tel_limpio[3:]

    if len(tel_limpio) == 12:
        tel_limpio = tel_limpio[2:]
    
    if len(tel_limpio) == 11:
        tel_limpio = tel_limpio[1:]

    iguales = 0

    for i in range(len(tel_limpio)-1):
        if tel_limpio[i] == tel_limpio[i+1]:
            iguales += 1
    if iguales > 4:
        return ""

    return tel_limpio

In [67]:
def eliminar_vacios(numero):
    if numero == '54' or numero == '549':
        return ""
    else:
        return numero

In [68]:
df["Numero sin 54 ni 9"] = df[telefonos].apply(validar_telefono) # OJO ACA MODIFICAR
df["Numero con 54"] = '54' +  df["Numero sin 54 ni 9"]
df["Numero con 54 9"] = '549' +  df["Numero sin 54 ni 9"]
df["Numero con 54"] = df["Numero con 54"].apply(eliminar_vacios)
df["Numero con 54 9"] = df["Numero con 54 9"].apply(eliminar_vacios)
df.to_excel('mi pieza - normalizar_TRANSFORMADO.xlsx')